<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juliene Monteiro - Arte em Feltro</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link" href="index.html">Home</a>
            <a class="cabecalho__menu__link" href="about.html">Sobre mim</a>
        </nav>
    </header>
    <main class="apresentacao">
        <section class="apresentacao__conteudo">
            <h1 class="apresentacao__conteudo__titulo">Eleve seus projetos em feltro a outro nível <strong class="titulo-destaque">com peças 3D de qualidade!</strong></h1>
            <p class="apresentacao__conteudo__texto">Olá! Sou Juliene Monteiro, Criadora do curso <strong class="descrição-destaque"> Arte em Feltro 3D</strong>. Ajudo você a criar lindas peças em feltro 3D, transformando um simples pedaço de feltro em personagens lindos e altamente lucrativos. Venha comigo para o mundo mágico dos personagens em feltro 3D. Vamos juntos nessa?</p>
            <div class="apresentacao__links">
                <h2 class="apresentacao__links__subtitulo">Acesse minhas redes:</h2>
                <a class="apresentacao__links__navegacao" href="https://www.instagram.com/julienemonteiro_arteemfeltro/" >
                <img src="./assets/instagram.png">
                Instragram</a>
                <a class="apresentacao__links__navegacao" href="https://www.facebook.com/jujuh.monteiro">
                <img src="./assets/facebook.png">   
                Facebook</a>
            </div>
        </section>
        <img class="apresentacao__imagem" src="./assets/logo1.png" alt="Logo da marca">
    </main>
    <footer class="rodape">
        <p>Produções: Juliene Monteiro</p>
    </footer>
</body>

</html>
@import url('https://fonts.googleapis.com/css2? family= Krona+One & family= Montserrat:wght@400;600 & display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --cor-destaque: purple;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
} 

body {
    box-sizing: border-box;
    background-color: var( --cor-primaria);
    color:  var( --cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.descrição-destaque {
    color: var(--cor-destaque);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);/* pesquisar CSS Border */
    width:50%; /*tamanho do botão*/
    text-align: center;/* alinhamento do texto*/
    border-radius: 8px;/* arredondamento das bordas*/
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover { /*modifica quando o mouse passa*/
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 18px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var();
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu  {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link" href="index.html">Home</a>
            <a class="cabecalho__menu__link" href="about.html">Sobre mim</a>
        </nav>
    </header>
    <link rel="stylesheet" href="./styles/style.css">
    <main class="apresentacao">
        <section class="apresentacao__conteudo">
            <h1 class="apresentacao__conteudo__titulo">Sobre mim</h1>
            <p class="apresentacao__conteudo__texto">kokokokokokokokokokokokokokokokokokokokokokokokokok kokokokok okokok okokok okokok ok.</p>
            <p class="apresentacao__conteudo__texto">mlmlmlmlm lmlmlml mlmlm lmlm lmlmlmlmlm lmlmlmlm lmlmlmlm lml mlmlmlm lmlmlmlml mlmlml mlmlmlmlm lmlmlmlm lmlmlmlm mlmlmlm lmlmlmlm lmlmlml mlmlm jiji jijklknhg cfghjk mb vfg hjkm nbv cd fghj mn bvc fgh jm nb vfgh jmn bvf gh jm nb vc fgh j mnb vfgh.</p>
        </section>
        <img class="apresentacao__imagem" src="./assets/logo1.png" alt="Logo da marca">
    </main>
    <footer class="rodape">
        <p>Produções: Juliene Monteiro</p>
    </footer>
</body>
</html>
